<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="login-button"></div>
    <div class="post-image"></div>
    <span id="highlight"></span>
    <p class="hidden full"></p>
    <h1>Express</h1>
    <p>Welcome to Express</p>
    <button class="Express" type="submit">전송</button>
    <input placeholder="Express 연습" />
    <p>
      안녕하세요. 여러 줄을 입력합니다.
      <br />
      태그도 중간에 넣을 수 있습니다.
    </p>
    <style>
      h1 {
        font-size: 30px;
      }
    </style>
    <script>
      const message = 'Pug'
      alert(message)
    </script>
  </body>
</html>
